.devices {
	width: 100%;
	.title {
		margin-bottom: 0;
	}
	.item {
		min-height: 120px;
	}
}
.devices__upper {
	display: flex;
	align-items: center;
	margin-bottom: 19px;
}
.devices__filter {
	margin: 0 auto 0 12px;
}
.devices__filter_lg {
	display: flex;

}
.devices__filter-btn {
	display: block;
	margin-right: 8px;
	padding: 8px 14px;
	background-color: $light-gray;
	font-size: 0.8125rem;
	font-weight: $bold;
	border-radius: $main-border-radius;
	border: none;
}
.devices__filter-btn.active {
	background-color: $yellow;
}
.devices__filter_sm {
	display: none;
	width: 71px;
	padding: 6px 11px;
	font-weight: $bold;
	background-color: $yellow;
	border-radius: $main-border-radius;
}
.devices__filter-opt {

}
.scroller-devices {
	margin-right: 45px;
}
.devices__visible-area {
	overflow-x: hidden;
}
.devices__row {
	display: flex;
	width: 10000px;
}