@font-face {
  font-family: "ArialMT";
  src: url('./../fonts/arial-boldmt-opentype.otf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ArialMT";
  src: url('./../fonts/ARIALMT.ttf');
  font-weight: 400;
  font-style: normal;
}