$font-reg: Arial, sans-serif;
$small-size: 14px;
$base-size: 16px;
$title-size: 18px;
$bold: 700;
$regular: 400;

//colors
$gray: #333333;
$light-gray:  #F7F7F7;
$black: #000;
$white: #fff;
$mode-color: #858585;
$yellow: #FFD93E;

//values
$main-padding-right: 21px;
$main-border-radius: 20px;

//transition
$transition-time-and-style: 0.3s ease-in-out;
$default-transition: box-shadow $transition-time-and-style,
					 color $transition-time-and-style,
					 background-color $transition-time-and-style,
					 border $transition-time-and-style;
