@import 'reset';
@import 'fonts';
@import 'variables';
@import 'mixins';

html {
	font-size: $base-size;
	font-family: $font-reg;
}

html, body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

body {
	background: transparent;
}

main.container {
	margin-bottom: 8px;
}

button {
	outline: none;
	&:hover {
		cursor: pointer;
	}
}

.container {
	max-width: 1366px;
	padding: 0 0 0 40px;
	margin: 0 auto;
}

.title {
	margin-bottom: 20px;
	font-size: $title-size;
	font-weight: 700;
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
	padding-top: 30px;
}

.sm-hidden {
	display: block;
}
[jsrow] {
	transition-property: margin-left, margin-top;
	transition-duration: 0.3s, 0.3s;
	transition-timing-function: linear, linear;

}

@import 'section';
@import 'scroller';
@import 'header';
@import 'main-section';
@import 'scripts';
@import 'item';
@import 'devices';
@import 'footer';

@import 'media';