@import 'reset';
@import 'fonts';
@import 'variables';
@import 'mixins';

html {
    font-size: $base-size;
    font-family: $font-reg;
}
html, body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
body {
    background: transparent;
}
.container {
    max-width: 1366px;
    padding: 0 0 0 40px;
    //background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.title {
    margin-bottom: 20px;
    font-size: $title-size;
    font-weight: 700;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}
@import 'header';
@import 'main-section';
@import 'scripts';
@import 'item';



@import 'media';